
@media (max-width: 1055px) {
    body #main .first-container div:first-child{
        padding: 2px;
    }
    body #main .first-container div:last-child{
        padding: 2px;
    }
    body #main .last-container div:first-child{
        padding: 2px;
    }
    body #main .last-container div:last-child{
        padding: 2px;
    }
} 
@media (max-width: 970px) {
    body #main{
        height: 612px;
    }
    body #main .first-container div:first-child{
        height: 150px;
    }
    body #main .first-container div:last-child{
        height: 150px;
    }
    body #main .last-container div:first-child{
        height: 150px;
    }
    body #main .last-container div:last-child{
        height: 150px;
    }
    body #main .first-container div:first-child::after{
        right: -124.8px;
        top: 25px;
        width: 150px;
        height: 100px;
    }
    body #main .first-container div:last-child::after{
        right: -124.8px;
        top: 25px;
        width: 150px;
        height: 100px;
    }
    body #main .last-container div:first-child::after{
        left: -124.8px;
        top: 25px;
        width: 150px;
        height: 100px;
    }
    body #main .last-container div:last-child::after{
        left: -124.8px;
        top: 25px;
        width: 150px;
        height: 100px;
    }
    
} 
@media (max-width: 970px){
    body #header{
        height: 120px;
    }
    body #main .first-container div:first-child p:last-child{
        font-size: 13px;
    }
    body #main .first-container div:last-child p:last-child{
        font-size: 13px;
    }
    body #main .last-container div:first-child p:last-child{
        font-size: 13px;
    }
    body #main .last-container div:last-child p:last-child{
        font-size: 13px;
    }
    body #header p{
        font-size: 30px;
    }
    body #main .first-container div:first-child p:first-child{
        font-size: 25px;
    }
    body #main .first-container div:last-child p:first-child{
        font-size: 25px;
    }
    body #main .last-container div:first-child p:first-child{
        font-size: 25px;
    }
    body #main .last-container div:last-child p:first-child{
        font-size: 25px;
    }
    body #footer p:first-child{
        font-size: 30px;
    }
    body #footer p:last-child{
        font-size: 15px;
    }

}

@media (max-width: 600px){
    body #header{
        padding: 40px 30px 0px 30px;
    }
    body #header p{
        text-align: center;
    }
    body #main{
        height: 800px;
        flex-direction: column;
    }
    body #main .first-container::after{
        display: none;
    }
    body #main .last-container::after{
        display: none;
    }
    body #main .first-container{
        padding: 0px;
        align-items: center;
        width: 60%;
        left: -10px;
        margin-left: 20px;
    }
    body #main .last-container{
        padding: 0px;
        z-index: 9999;
        width: 60%;
        right: -10px;
        margin-right: 20px;
        align-items: center;
    }
    body #main .first-container div:first-child::after{
        right: -104.8px;
        top: 45px;
        height: 60px;
    }
    body #main .first-container div:last-child::after{
        right: -104.8px;
        top: 45px;
        height: 60px;
    }
    body #main .last-container div:first-child::after{
        left: -104.8px;
        top: 45px;
        height: 60px;
    }
    body #main .last-container div:last-child::after{
        left: -104.8px;
        top: 45px;
        height: 60px;
    }
    body #main .first-container div:last-child{
        top: 190px;
    }
    body #main .last-container div:first-child{
        bottom: 190px;
    }
    body #main .first-container div:first-child p:first-child{
        text-align: center;
        margin-top: 5px;
    }
    body #main .first-container div:last-child p:first-child{
        text-align: center;
        margin-top: 5px;
    }
    body #main .last-container div:first-child p:first-child{
        text-align: center;
        margin-top: 5px;
    }
    body #main .last-container div:last-child p:first-child{
        text-align: center;
        margin-top: 5px;
    }
    body #footer p:first-child{
        text-align: center;
    }
    body #footer{
        top: 0%;
        height: 220px;
        padding: 10px 30px;
    }
    
}
@media (max-width: 388px){
    body #footer p:last-child{
        font-size: 13px;
    }
}
@media (max-width: 380px){
    body #main .first-container div:first-child p:first-child{
        font-size: 20px;
    }
    body #main .first-container div:last-child p:first-child{
        font-size: 20px;
    }
    body #main .last-container div:first-child p:first-child{
        font-size: 20px;
    }
    body #main .last-container div:last-child p:first-child{
        font-size: 20px;
    }
    body #main .first-container div:first-child p:last-child{
        font-size: 12px;
    }
    body #main .first-container div:last-child p:last-child{
        font-size: 12px;
    }
    body #main .last-container div:first-child p:last-child{
        font-size: 12px;
    }
    body #main .last-container div:last-child p:last-child{
        font-size: 12px;
    }

    body #main .first-container div:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    body #main .first-container div:last-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    body #main .last-container div:first-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    body #main .last-container div:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    body #footer p:first-child{
        font-size: 27px;

    }
    body #footer{
        padding: 5px 20px ;
    }
}
